<section class="d-none flex-column">
    <div class="container card-deck">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Acadêmico 
                </h3>
                <p class="card-text">Somos a linha de frente: professores, auxiliares de sala, corretores e mais um pouco de tudo, responsáveis pelo preparo, execução e auto avaliação das atividades.
Além disso, você vai encontrar reuniões da galera discutindo sobre como melhorarmos nossas aulas, desde dinâmicas e atividades até teoria da educação. 
Vem pra AKD!</p>
                <div class="row">
                    <ul class="col-5 offset-1 list-group list-group-flush text-center">
                        <li class="list-group-item"> <i class="fa fa-calculator" aria-hidden="true"></i> Matemática </li>
                        <li class="list-group-item"> <i class="fa fa-flask" aria-hidden="true"></i> Química </li>
                    </ul>
                    <ul class="col-5 list-group list-group-flush text-center">
                        <li class="list-group-item"> <i class="fa fa-cogs" aria-hidden="true"></i> Física</li>
                        <li class="list-group-item"> <i class="fa fa-commenting-o" aria-hidden="true"></i> Humanidades</li>
                        <!-- talvez usar o icone globe pra extras?-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container card-deck">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    Eventos 
                </h3>
                <p class="card-text">A área de eventos é responsável por organizar os eventos para alunes e voluntáries do projeto, sejam eles presenciais ou on-line, fazendo com que os objetivos do Projeto e objetivos da área sejam alcançados além de proporcionar novas experiências e aprendizados aos envolvides.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                Parcerias
            </h3>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">
               <i class="fa fa-comments-o" aria-hidden="true"></i>
               Comunicação
            </h3>
            <p class="card-text">Conhecida carinhosamente como Komu, essa área cuida de toda a comunicação do Projeto Kali, tanto interna quanto externa, produzindo informativos para voluntários e alunos e um conteúdo bem bacana nas nossas mídias digitais para que você possa conhecer e ficar por dentro de tudo que rola por aqui!</p>
            </div>
        </div>
    </div>
    <div class="container card-deck">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Gestão de Pessoas 
                </h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">
                <i class="fa fa-usd" aria-hidden="true"></i>
                Recursos
            </h3>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
               Jurídico
            </h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</section>
