<section class="bg-tertiary" id="call-to-action">
    <div class="container px-md-5">
        <div class="text-center">   
            <h2 class="section-heading">Faça parte desse projeto!</h2>
            <hr class="light">
            <p class="text-faded">O KALI é um projeto social, sem fins lucrativos, formado por jovens voluntáries que buscam apoiar a realização de sonhos por meio da educação.</p>
            <div class="d-flex flex-column flex-md-row justify-content-around">
                <a href="{{ site.form_inscricao_alunos }}" class="btn btn-default btn-xl" data-aos="fade-right" target="_blank">Quero ser alune!</a>
                <a href="{{ site.form_inscricao_voluntarios }}" class="btn btn-default btn-xl mt-5 mt-md-0" data-aos="fade-left" target="_blank">Quero ser voluntárie!</a>
            </div>
        </div>
    </div>
</section>
