<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Faça parte desse projeto!</h2>
                <hr class="light">
                <p class="text-faded">O KALI é um projeto social, sem fins lucrativos, formado por jovens voluntários que buscam apoiar a realização de sonhos por meio da educação.</p>
                <div class="row">
                    <a href="#" class="btn btn-default btn-xl col-sm-5">Quero ser aluno(a)!</a>
                    <a href="#" class="btn btn-default btn-xl col-sm-5 col-sm-offset-2">Quero ser voluntário(a)!</a>
                </div>
            </div>
        </div>
    </div>
</section>
