<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato conosco!</h2>
                <hr class="primary">
                <p>Se interessou pelo projeto e quer saber mais? Tem alguma sugestão, proposta ou dúvida? Entre em contato conosco em quaisquer das seguintes plataformas que responderemos o quanto antes!  </p>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="mailto: {{ site.email }}" target="_blank">
                <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="{{site.facebook_url}}" target="_blank">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</section>
