<section class="text-center my-0 py-0">
    <div id="depoimentosCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#depoimentosCarousel" data-slide-to="0" class="active pink"></li>
            <li data-target="#depoimentosCarousel" data-slide-to="1" class="pink"></li>
            <li data-target="#depoimentosCarousel" data-slide-to="2" class="pink"></li>
        </ol>
        <!--Slides-->
        <div class="carousel-inner container" role="listbox" style="padding-bottom: 30px; padding-top: 30px;">
            <!--First slide-->
            <div class="item active testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto mb-4">
                    <img src="img/depoimentos/gustavo.jpeg" class="rounded-circle img-fluid"
                        alt="First sample avatar image">
                </div>
                <!--Content-->
                <p>
                    <i class="fa fa-quote-left"></i> 
                    Eu só tenho que agradecer por fazer parte desse projeto, os voluntários são demais, o modo que eles apresentam a matéria, a atenção prestada aos alunos é inexplicável, o Kali me ensinou e mostrou como que a educação é transformadora, como pode ser prazeroso aprender e como tem gente disposta em fazer a diferença.
                </p>
                <h4 class="font-weight-bold">Gustavo Barbosa</h4>
                <h5 class="font-weight-bold my-3">Aluno do segundo módulo em 2020</h5>
            </div>
            <!--First slide-->
            <!--Second slide-->
            <div class="item testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto mb-4">
                    <img src="img/depoimentos/estelina.jpeg"
                        class="rounded-circle img-fluid" alt="Second sample avatar image">
                </div>
                <!--Content-->
                <p>
                    <i class="fa fa-quote-left"></i> 
                    Participar do Projeto Kali foi fundamental para meu desenvolvimento acadêmico, pois lá encontrei a base que tanto buscava! Além de me sentir muito confortável com o ambiente, curtia bastante os conteúdos que eles passavam. O jeito que eles ensinavam me motivava cada vez mais a correr atrás dos meus sonhos e direitos, sou muito grata ao Kali. Em 2019, me tornei voluntária, conheci o projeto por outro ângulo, e hoje sou coordenadora de Química!
                </p>
                <h4 class="font-weight-bold">Estelina Neta</h4>
                <h5 class="font-weight-bold my-3">Voluntária</h5>
            </div>
            <!--Second slide-->
            <!--Third slide-->
            <div class="item testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto mb-4">
                    <img src="img/depoimentos/otavio.jpeg"
                        class="rounded-circle img-fluid" alt="Second sample avatar image">
                </div>
                <!--Content-->
                <p>
                    <i class="fa fa-quote-left"></i> 
                    Nós estamos longe de sabermos tudo, vamos construindo nosso saber junto com os alunos e na esperança de semear aquilo que acreditamos em cada um. A cada sábado começamos o dia compartilhando um pouco do que conhecemos e terminamos o dia como pessoas mais realizadas, esperançosas com o mundo e amorosas com o nosso redor. Só tenho a agradecer ao Kali por tudo isto!
                </p>
                <h4 class="font-weight-bold">Otávio Tavela</h4>
                <h5 class="font-weight-bold my-3">Voluntário</h5>
            </div>
            <!--Third slide-->
        </div>
        <!--Slides-->
        <!--Controls-->
        <a class="carousel-control-prev left carousel-control" href="#depoimentosCarousel" role="button"
            data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next right carousel-control" href="#depoimentosCarousel" role="button"
            data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--Controls-->
    </div>
</section>