<section id="endereco" class="bg-primary py-0">
    <div class="d-flex">
        <div class="w-50 order-1" data-aos="fade-right">
            <img class="w-100" src="img/onibus.png"
            alt="Imagem de onibus e explicacao de como chegar no kali">
        </div>
        <div class="w-50 order-2 container d-flex align-items-center justify-content-center flex-column">
            <h2 class="section-heading">Como chegar no Kali?</h2>
            <p>
                O CEU das Artes está localizado na Avenida Armando Sestini, número 777. As linhas de ônibus que percorrem esta avenida são:
            </p>
            <ul>
                <li> 010/010A: Jd. Vera Tereza - Vila Rosina. Confira o itinerário no <a href="https://goo.gl/1Dujuu" target="_blank">moovit</a>.  </li>
                <li> 536TRO: Franco da Rocha (Centro) - Vila dos Pinheiros (Caieiras). Confira o itinerário no <a href="https://goo.gl/V11ULz" target="_blank"> moovit </a>.  </li>
            </ul>
            <p>
                Pegando alguma dessas linhas, deve-se desembarcar no ponto na altura do número 700 da Avenida Armando Sestini.

                Além dessas, a seguinte linha passa próximo ao local:
            </p>
            <ul>
                <li>
                    030: Estação Caieiras - Jd. dos Eucaliptos (Circular). Confira o itinerário no <a href="https://goo.gl/mXb1hR" target="_blank">moovit</a>.
                </li>
            </ul>
            <p>
                Pegando essa linha, deve-se desembarcar no ponto na altura do número 111 da Rua Antônio Teixeira.
            </p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3663.291776042314!2d-46.74983438466676!3d-23.34144148479246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cee58a42ec9903%3A0xd0841b5c6512930d!2sCEU%20das%20Artes%20Caieiras!5e0!3m2!1sen!2sbr!4v1593695161306!5m2!1sen!2sbr"
                width=100% height=50% frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0">
            </iframe>
        </div>
    </div>
</section>