<section id="endereco" class="bg-primary py-0">
    <div class="d-flex">
        <img class="w-50 order-1" src="img/onibus.png" alt="Imagem de onibus e explicacao de como chegar no kali" >
        <div class="w-50 order-2 container d-flex align-items-center justify-content-center flex-column">
            <h2 class="section-heading">Como chegar no Kali?</h2>
            <p>
                O CEU das Artes está localizado na Avenida Armando Sestini, número 777. As linhas de ônibus que percorrem esta avenida são:
            </p>
            <ul>
                <li> 010/010A: Jd. Vera Tereza - Vila Rosina. Confira o itinerário no <a href="https://goo.gl/1Dujuu" target="_blank"> moovit </a>  </li>
                <li> 536TRO: Franco da Rocha (Centro) - Vila dos Pinheiros (Caieiras). Confira o itinerário no <a href="https://goo.gl/V11ULz" target="_blank"> moovit </a>  </li>
            </ul>
            <p>
                Pegando alguma dessas linhas, deve-se desembarcar no ponto na altura do número 700 da Avenida Armando Sestini.

                Além dessas, a seguinte linha passa próximo ao local:
            </p>
            <ul>
                <li>
                    030: Estação Caieiras - Jd. dos Eucaliptos (Circular). Confira o itinerário no <a href="https://goo.gl/mXb1hR" target="_blank">moovit</a>
                </li>
            </ul>
            <p>
                Pegando essa linha, deve-se desembarcar no ponto na altura do número 111 da Rua Antônio Teixeira.
            </p>
        </div>
    </div>
</section>