<section class="bg-tertiary">
    <div class="header-content container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                <img src="img/logos/k-circle.png" alt="logo kali" style="width: 40%;">
                    <h2>Projeto Kali</h2>
            </div>
            <div class="col-12 col-md-6 align-self-center">
                    <div class="d-flex flex-column align-items-center">
                        <a href="sobre.html#page-top" class="btn btn-primary btn-xl page-scroll mt-5" style="width: 75%;" data-aos="zoom-in"
                            data-aos-anchor="#page-top">Saiba mais!</a>
                        <a href="{{ site.form_inscricao_alunos }}" class="btn btn-default btn-xl mt-5 " style="width: 75%;" data-aos="fade-right" target="_blank">Quero ser alune!</a>
                        <a href="{{ site.form_inscricao_voluntarios }}" class="btn btn-default btn-xl mt-5" style="width: 75%;" data-aos="fade-left" target="_blank">Quero ser voluntárie!</a>
                    </div>
            </div>
        </div>
    </div>
</section>
