<header>
    <div class="header-content container">
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="img/logos/k-circle.png" alt="logo kali" style="width: 50%;">
            </div>
            <div class="col-md-6 col-12 align-self-center">
                    <h1>Projeto Kali</h1>
                    <hr>
                    <a href="sobre.html#page-top" class="btn btn-primary btn-xl page-scroll" data-aos="zoom-in"
                        data-aos-anchor="#page-top">Saiba mais!</a>
            </div>
        </div>
    </div>
</header>
