<section id="historia" class="bg-base">
    <div class="d-flex justify-content-center mx-5 mb-5">
        <h2 class="section-heading">Você conhece a história do Kali?</h2>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 px-5">
                <p>
                    O Kali nasceu de uma conversa informal nos corredores da Escola Politécnica da USP no ano de 2013. A ideia surgiu após uma palestra que um dos fundadores havia feito no sistema de ensino público de Caieiras sobre a Universidade de São Paulo.
                </p>

                <p>
                    Depois desse bate papo com os estudantes, a percepção: os alunos da cidade queriam mais do que as escolas estavam oferecendo. Assim, originou-se o projeto Kali, que tem como objetivo auxiliar esses jovens estudantes incentivando-os a permanecem nos estudos.
                </p>
                <p>
                    A primeira reunião do Kali aconteceu no dia 13 de setembro. Nela estavam presentes os primeiros voluntários do projeto e foram decididos alguns dos lemas que carregamos até hoje, como nossa Missão, nossos Valores e a forma como trabalhamos.
                </p>
                <p>
                    E, mesmo após 6 anos, esses continuam sendo a base do projeto.
                    A vontade da primeira turma de voluntários de colocar em prática tudo o que eles estavam sonhando era tanta que, praticamente 1 semana depois dessa reunião onde o Kali foi de fato fundado, aconteceu a primeira aula do projeto. Para isso, foi preciso muita dedicação de todos os participantes e também uma escola que acreditasse no projeto junto com a nossa equipe. A escola que nos acolheu naquele primeiro ano foi a Escola Estadual Mario Toledo.
                </p>
                <p>
                    Por fim, por conta da proximidade do fim do ano, a decisão tomada pela nossa equipe foi que nesse ano de 2013, eles iriam focar em ajudar os alunos no ENEM e aproveitar esses meses de aula para aprender o máximo que pudessem para melhorar o projeto para o ano de 2014. E isso aconteceu!
                </p>
            </div>
            <div class="col-12 col-md-6 my-auto">
                <img src="img/kali-inicio.jpg" class="mw-100" data-aos="fade-left" alt="Imagem antiga de voluntários falando sobre o kali em uma escola."></img>
            </div>
        </div>
    </div>
</section>