<section id="historia" class="bg-base">
    <div class="d-flex justify-content-center mx-5 mb-5">
        <h2 class="section-heading">Você conhece a história do Kali?</h2>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 col-lg-6 px-5">
                <p>
                    Vocês acreditam em compartilhamento de ideias por pessoas desconexas? Se não, vão passar a acreditar. O ano foi 2013 e dois jovens apaixonados por causas sociais (o Di e a Mari), que acreditavam na educação como uma ferramenta de transformação, descobriram por meio de uma conversa que tinham um desejo em comum: tornar o ensino prazeroso, acessível e dinâmico. 
                </p>

                <p>
                    Um deles como ex-estudante de escola pública e recém aprovado no curso de engenharia da USP, tendo em mente o tamanho da dificuldade que é passar no vestibular, e a falta de informação e motivação que enfrentam os alunos de escolas públicas, decidiu tornar-se um embaixador da USP. 
                </p>
                <p>
                    A princípio a proposta era ir nas escolas da região de Caieiras como um porta voz e disseminar informações sobre vestibulares, bolsas e cursinho gratuitos para os alunos e desmitificar a ideia que o ensino superior não é para todos. O que ele não imaginava era encontrar tantos alunos interessados pelo assunto. 
                </p>
                <p>
                    Então o Di bateu um papo com a Mari que, por vir de uma família de professoras que lecionavam em escolas públicas, ter a vivência da realidade do município e consciência de seus privilégios, tinha vontade e condições de acreditar em uma proposta diferente para amenizar a defasagem do sistema educacional.
                </p>
                <p>
                    Para retribuir o interesse dado pelos alunos durante as visitas, somado à motivação da Mari (da dupla) e a ajuda de que reuniu esforços com mais 9 Kalindos, fez  com que, no meio de um ano letivo, após 8 dias de conversas do primeiro contato com os estudantes, ali mesmo, no mês de setembro fosse fundado o Projeto Kali. 
                </p>
                <p>
                    Projeto por definição é algo inacabado e é por admitir que há espaço para melhorias e atualizações que somos o Projeto Kali.
                </p>
            </div>
            <div class="col-12 col-lg-6 my-auto text-center">
                <img src="img/kali-inicio.jpg" class="mw-100" data-aos="fade-left" alt="Imagem antiga de voluntários falando sobre o kali em uma escola."></img>
            </div>
        </div>
    </div>
</section>