<nav id="mainNav" class="navbar navbar-expand-md navbar-default navbar-fixed-top py-0">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header flex-grow-1">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html#page-top">
                <img src="img/logos/k-circle.png" alt="Logo kali">
                <span class="ml-3">Projeto Kali</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse flex-grow-0" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="sobre.html#page-top" class="dropdown-toggle"> <span class="nav-label">Sobre</span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="sobre.html#page-top">Conheça o Projeto Kali</a></li>
                        <li><a href="sobre.html#historia">História do Kali</a></li>
                        <li><a href="sobre.html#endereco">Como chegar no Kali?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="participe.html" class="dropdown-toggle"> <span class="nav-label">Participe</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.form_inscricao_alunos }}" target="_blank">Seja alunx</a></li>
                        <li><a href="participe.html">Seja voluntárix</a></li>
                    </ul>
                </li>
                {% if pagina == "front" %}
                    <li>
                        <a class="page-scroll" href="#portfolio">Fotos</a>
                    </li>
                {% endif %}
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
