<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <a href="{{ site.form_inscricao_voluntarios }}" target="_blank">
    <div class="carousel-inner">
      <div class="item active">
        <img src="img/recrutamento-comunicacao.png" alt="Recrutamento comu">
      </div>

      <div class="item">
        <img src="img/recrutamento-corretor.png" alt="Recrutamento corretor">
      </div>

      <div class="item">
        <img src="img/recrutamento-desenvolvedor.png" alt="Recrutamento corretor">
      </div>

      <div class="item">
        <img src="img/recrutamento-eventos.png" alt="Recrutamento corretor">
      </div>
      
      <div class="item">
        <img src="img/recrutamento-gp.png" alt="Recrutamento corretor">
      </div>
      
      <div class="item">
        <img src="img/recrutamento-juridico.png" alt="Recrutamento corretor">
      </div>
      
      <div class="item">
        <img src="img/recrutamento-parcerias.png" alt="Recrutamento corretor">
      </div>
      
      <div class="item">
        <img src="img/recrutamento-professor.png" alt="Recrutamento corretor">
      </div>
      
      <div class="item">
        <img src="img/recrutamento-recursos.png" alt="Recrutamento corretor">
      </div>
    </div>
  </a>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>