<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter display-flex">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/projetokali/photos/a.307832832692641/1629169713892273/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="descricao foto 1">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Comunicado 
                            </div>
                            <div class="project-name">
                               Aulas durante a pandemia 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/projetokali/posts/1715408311935079" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="descricao foto 2">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Postagens
                            </div>
                            <div class="project-name">
                                Vale a pena recordar
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/projetokali/posts/1665901720219072" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="descricao foto 3">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Postagens
                            </div>
                            <div class="project-name">
                                Dia mundial da educação
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/projetokali/posts/1495710160571563" target="_blank"  class="portfolio-box" >
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="descricao foto 4">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Postagens
                            </div>
                            <div class="project-name">
                                Passeio USP
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/projetokali/posts/1302413933234521" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="descricao foto 5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Informações 
                            </div>
                            <div class="project-name">
                                Como chegar no Kali?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/p/CCbYvOihbIV/?utm_source=ig_web_copy_link" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/6.jpeg" class="img-responsive" alt="descricao foto 6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Postagens
                            </div>
                            <div class="project-name">
                                Voltamos com nossa série profissão do mês. Comenta qual profissão vocês querem ver no próximo post dessa série
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
