<div class="card text-center bg-tertiary" style="padding-top: 40px; padding-bottom: 40px;">
	<div class="card-body container" style="padding-left: 20%; padding-right: 20%;">
		<p class="medium">
			<label for="doacaoRange" class="form-label">Escolha com quanto você deseja contribuir!</label>
			<input type="range" class="form-range mw-50" min="0" max="3" step="1" value="0" id="doacaoRange" oninput="mudaValorDoacao(this.value)" onchange="mudaValorDoacao(this.value)">
		</p>

		<div id="doa-10">
			<p class="medium">
				<i class="fa fa-paper-plane"></i> Com <b>R$10</b> mensais você ajuda o projeto a se estruturar para atender melhor às necessidades de estudantes e voluntáries kali
			</p>
		</div>
		<div id="doa-20" class="d-none">
			<p class="medium">
				<i class="fa fa-book"></i> Com <b>R$20</b> mensais você ajuda na compra dos materiais de estudos para nossos alunes
			</p>
		</div>
		<div id="doa-30" class="d-none">
			<p class="medium">
				<i class="fa fa-cutlery"></i> Com <b>R$30</b> mensais você viabiliza a promoção de atividades extraclasse e parte da alimentação
			</p>
		</div>
		<div id="doa-50" class="d-none">
			<p class="medium">
				<i class="fa fa-bus"></i> Com <b>R$50</b> mensais você ajuda na alimentação e transporte dos alunos, além de viabilizar a compra de materiais imprescindíveis ao projeto
			</p>
		</div>

		<a href="{{ site.picpay }}" target="_blank" class="btn btn-primary btn-xl mt-5"
			data-aos="zoom-in" data-aos-anchor="#page-top">Quero doar!</a>
		
		<p id="instrucoes-doacao" class="mt-4 disabled">Ao clicar em Quero Doar caso você esteja em um computador será redirecionado para uma página com QR Code para abrir via câmera celular. Se estiver pelo próprio celular, o aplicativo do picpay será aberto para que a doação seja efetuada.</p>
	</div>
</div>

<script>
	function mudaValorDoacao(i) {
		valores = [10, 20, 30, 50]
		for(var v of valores){
			$("#doa-"+v).addClass("d-none")
		}
		$("#doa-"+valores[i]).removeClass("d-none")
	}
	document.addEventListener("DOMContentLoaded", function(){
		if(/Android|webOS|iPhone|iPad|iPod|pocket|psp|kindle|avantgo|blazer|midori|Tablet|Palm|maemo|plucker|phone|BlackBerry|symbian|IEMobile|mobile|ZuneWP7|Windows Phone|Opera Mini/i.test(navigator.userAgent) ) {
			$('#instrucoes-doacao').text("Ao clicar em 'Quero doar!' você será redirecionado ao aplicativo do PicPay para fazer sua doação.")
		}
		else {
			$('#instrucoes-doacao').text("Ao clicar em 'Quero doar!' você será redirecionado a uma página com um QR code que poderá ser lido pelo aplicativo do PicPay para realizar sua doação.")
		}
	})
</script>