<section id="sobre" class="py-5 d-flex justify-content-center align-items-center">
    <div id="conheca" class="container text-center">
        <h1 class="section-heading">Conheça o Kali!</h1>
        <hr class="light">
        <p class="large">
            O Kali é um projeto social formado por voluntários que acreditam em um modelo de educação que resulte em impacto social. O objetivo não é apenas reforçar as disciplinas convencionais ensinadas na escola com o intuito de que os alunos se saiam bem no vestibular, mas também, despertar neles um interesse genuíno pela educação e sua potência transformadora. O que só é possível por meio de um aprendizado dinâmico, muito engajamento, atividades e eventos diferenciados, um ambiente que abraça a diversidade e a relação de amizade construída ao longo da jornada Kaliana.
        </p>
        <div class="d-flex flex-column flex-md-row justify-content-around">
            <a href="{{ site.form_inscricao_alunos }}" class="btn btn-primary btn-xl" data-aos="fade-right"
                target="_blank">Quero estudar!</a>
            <a href="{{ site.form_inscricao_voluntarios }}" class="btn btn-primary btn-xl mt-5 mt-md-0"
                data-aos="fade-left" target="_blank">Quero me voluntariar!</a>
        </div>
    </div>
</section>
<section id="sobre2" class="d-none container-fluid bg-white py-0">
    <div class="row no-gutters">
        <div class="col-12 col-lg-6 order-2 p-5">
            <p class="medium">
                Parte importante do Kali é informar os alunos das possibilidades que eles têm em relação ao futuro após
                o Ensino Médio. Muitas vezes, eles não possuem exemplos na família de pessoas que possuem Ensino
                Superior e, devido a isso, acreditam que a faculdade não é para eles. Apesar de defendermos que a
                universidade deve ser para todos, acreditamos que toda escolha de futuro é válida, contanto que tenha
                sido tomada conscientemente: esse é nosso papel! Ouvimos os sonhos e aspirações de nossos alunos e
                fazemos tudo para informá- los em relação ao caminho que pode ser trilhado para que eles atinjam seus
                objetivos de vida, sejam eles quais forem.
            </p>
            <p class="medium">
                Outra parte que compõe o Kali é a motivação dos alunos. Por meio do tratamento individualizado, do
                reforço da base e da apresentação de todas as informações necessárias para que eles persigam o futuro
                que desejarem, acreditamos que a relação deles com os estudos pode mudar completamente. Nosso lema é
                que, com ensino e motivação, é possível transformar vidas e realizar sonhos. Se você compartilha dos
                nossos ideais, venha nos conhecer e acompanhar pelas redes sociais!
            </p>
            <div class="d-flex flex-column flex-md-row justify-content-around">
                <a href="{{ site.form_inscricao_alunos }}" class="btn btn-primary btn-xl" data-aos="fade-right" target="_blank">Quero ser alune!</a>
                <a href="{{ site.form_inscricao_voluntarios }}" class="btn btn-primary btn-xl mt-5 mt-md-0" data-aos="fade-left" target="_blank">Quero ser voluntárie!</a>
            </div>
        </div>
        <img src="img/fotos/lousa.jpeg" data-aos="fade-right" alt="Aluna do kali resolvendo problema de quimica na lousa" class="col-12 col-lg-6 order-1">
    </div>
</section>
