<section id="sobre">
    <div class="container px-md-5">
        <div class="text-center">   
            <h2 class="section-heading">Conheça o Kali!</h2>
            <hr class="light">
            <p>
                O Kali é um projeto social voluntário que atua na Educação de jovens da cidade de Caieiras na faixa dos 13 aos 18 anos. Ele foi criado em 2013 com a finalidade de atingir, através da Educação, os alunos de escolas públicas que desejam ingressar na universidade, mas que possuem parte desse percurso dificultado por conta da defasagem no ensino das disciplinas de exatas, principalmente.
            </p>

            <p>
                Pensando nisso, o Kali desenvolveu-se focado nas disciplinas Física, Matemática e Química, oferecendo aulas de reforço, aos sábados, dos assuntos vistos durante a semana na escola. Adicionalmente, há a matéria Extras, na qual são propostos conteúdos menos tradicionais e discussões sobre Filosofia, Informação e Tecnologia, Inteligência Emocional e Artes, citando alguns exemplos. Também realizamos atividades extracurriculares, como o passeio anual à USP e a oficina de pintura de camisetas.
            </p>
            <p>
                Parte importante do Kali é informar os alunos das possibilidades que eles têm em relação ao futuro após o Ensino Médio. Muitas vezes, eles não possuem exemplos na família de pessoas que possuem Ensino Superior e, devido a isso, acreditam que a faculdade não é para eles. Apesar de defendermos que a universidade deve ser para todos, acreditamos que toda escolha de futuro é válida, contanto que tenha sido tomada conscientemente: esse é nosso papel! Ouvimos os sonhos e aspirações de nossos alunos e fazemos tudo para informá- los em relação ao caminho que pode ser trilhado para que eles atinjam seus objetivos de vida, sejam eles quais forem.
            </p>
            <p>
                Outra parte que compõe o Kali é a motivação dos alunos. Por meio do tratamento individualizado, do reforço da base e da apresentação de todas as informações necessárias para que eles persigam o futuro que desejarem, acreditamos que a relação deles com os estudos pode mudar completamente. Nosso lema é que, com ensino e motivação, é possível transformar vidas e realizar sonhos. Se você compartilha dos nossos ideais, venha nos conhecer e acompanhar pelas redes sociais!
            </p>
        </div>
    </div>
</section>