html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin-top: 50px;
    //@include serif-font;
    @include chalk-font;
    overflow-x: hidden; // Arruma o problema do scroll horizontal com o fade-right e fade-left
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //@include sans-serif-font;
    @include chalk-font;
}

p {
    @include sans-serif-font;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

li {
    @include sans-serif-font;
    font-size: 16px;
    line-height: 1.5;
}

p.large{
    font-size: 22px;
}

p.medium{
    font-size: 20px;
}

.bg-primary {
    background-color: $theme-primary !important;
    @include transition-all;
    a {
        color: rgba($theme-tertiary, .7);
        &:hover,
        &:focus {
            color: darken($theme-tertiary, 10%);
        }
    }
}

.bg-secondary {
    background-color: $theme-secondary !important;
}

.bg-tertiary {
    background-color: $theme-tertiary;
    color: white;
}

.bg-base {
    background-color: $theme-base;
    color: white;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.bg-white {
    color: $theme-primary;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.active{
    background-color: rgba( $theme-primary, .1 );;
}

nav#mainNav{
    max-width: 100vw;
}


.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        display: flex;
        align-items: center;
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        img {
            @include transition-all;
            height: 35px;
        }
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            ul li a,
            > a,
            > a:focus {
                height: inherit;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        &.affix {
            height: 50px !important;
            .navbar-header .navbar-brand {
                font-size: 14px;
                img{
                    height: 20px;
                }
            }
        }
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

// Homepage Header

header {
    //position: relative;
    //width: 100%;
    //height: 100vh;
    //min-height: auto;
    @include background-cover;
    background-position: center;
    //background-image: linear-gradient(45deg, $transparent-theme-primary, $transparent-theme-base), url('../img/kali-large2.jpg');
    //-webkit-background-size: cover;
    background-color: $theme-tertiary;
    background-size: cover;
    text-align: center;
    color: white;
    .header-content {
        //position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        //width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, .7);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        //min-height: 100%;
        .header-content {
            /*
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            */
            padding: 20px 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

#sobre {
    min-height: 100vh;
    @include background-cover;
    background-position: center;
    //background-image: linear-gradient(0deg, $transparent-theme-base, $transparent-theme-base), url('../img/fotos/passeio-usp-azul.jpg');
    background-image: url('../img/fotos/passeio-usp-azul-2.jpeg');
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    color: white;
}

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.posts-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .posts-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .posts-box-caption-content {
            width: 100%;
            max-height: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                max-height: 100%;
                font-size: 18px;
            }
        }
    }
    &:hover {
        .posts-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .posts-box-caption {
            .posts-box-caption-content {
                max-height: 100%;
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    max-height: 100%;
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles}
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn-secondary {
    @include button-variant($theme-dark, white, white);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-secondary;
    font-size: 4em;
}

#contact hr {
    color: $theme-secondary;
    border-color: $theme-secondary;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

.carousel {
    max-height: 100%;
}

.carousel-inner {
    max-height: 100%;
}

.carousel-inner .item {
    max-height: 100%;
}

.carousel-inner .item img {
    margin: auto;
   width: 100%;
    max-height: 100%;
}

.avatar {
    max-width: 30%;
    @media (min-width: 768px) {
        max-width: 15%;
    }
}
.testimonial {
    padding-left: 30px;
    padding-right: 30px;
    // Para o carousel indicator nao ficar em cima do depoimento
    padding-bottom: 50px; 
    background-color: white !important;
}
.pink {
    border: 2px solid $theme-pink !important;
    &.active{
        background-color: $theme-pink !important;
    }
}
